@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap");

body {
  font-family: "Kaisei Opti", serif;
  background-image: url("lucky-birthday.jpg");
}
.container {
  margin: auto;
  text-align: center;
  /* background-color: #EFEFEF; */
  width: 600px;
  height: 100vh;
}

label {
  display: block;
  margin: 1rem;
}
input {
  display: block;
  padding: 0.5rem;
  margin: auto;
  border-radius: 0.5rem;
  width: 200px;
}

button {
  padding: 0.5rem 0.7rem;
  margin: 1rem;
  background-color: #34d399;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}
h1 {
  margin-top: 2rem;
}

#display-msg {
  font-size: 1.8rem;
}
footer {
  position: fixed;
  bottom: 0;
  text-align: right;
}
